html {
  margin: 0;
  padding: 0;
  background-color: lightsteelblue;
}

audio {
  display: none;
}

.title {
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 3px 3px 2px #a360a2;
  text-align: center;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.intro {
  font-family: Verdana;
  font-size: large;
  color: black;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 20px;
}