html, body {
  margin: 0;
  padding: 0;
  background-color: lightsteelblue;
  width: 100%;
  height: 100%;
  font-family: "Courier New", Courier, monospace;
}

audio {
  display: none;
}

.title {
  text-shadow: 3px 3px 2px #a360a2;
  text-align: center;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.intro {
  font-family: Verdana;
  font-size: larger;
  color: black;
  text-align: center;
  padding: 0 10% 2% 10%;
}

h1 {
  text-align: center;
  text-shadow: 1px 1px #000;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  width: 100%;
  height: 0;
}

#buttons {
  display: none;
  width: 90%;
}

button {
  background-color: rgb(75, 156, 211);
  /* Green */
  border: 4px solid black;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
  display: block;
  width: 200px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1250px) {
  button {
    width: 150px;
    height: 75px;
  }
  #buttons {
    width: 100%;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 10%;
  /* grid-row-gap: 50px; */
}

.horizontal-button {
  /* display: inline-block; */
  margin: 0 auto;
}

#other-grid-container {
  display: grid;
  /* padding-top: 0%; */
  grid-template-columns: auto auto auto;
  /* grid-row-gap: 50px; */
}

.vertical-center {
  margin: 0;
  /* position: absolute; */
  /* top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}

#level {
  text-align: center;
  font-size: 2em;
  position: absolute;
  top: 2%;
  right: 2%;
  padding: 4px;
  background-color: rgb(75, 156, 211);
  border: 2px solid black;
}

#startGameBtn {
  width: 300px;
  height: 150px;
}